@import url('https://fonts.googleapis.com/css2?family=Atomic+Age&display=swap');

body {
    font-family: 'Atomic Age', cursive;
    background-color: teal;
    min-height: 500px;
    height: 100vh;
    margin-bottom: 50px;
    clear: both;
}



/* ------- WRAPPERS -------*/ 

.container {
    width: 500px;
    margin: 0.5% auto;
}

.calculator {
    display: grid;
    background-color: rgb(39, 116, 139);
    border-radius: 3%;
    border-style: outset;
    border-color: rgb(23, 59, 70);
    border-bottom-color:rgb(23, 59, 70);
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 16%;
    grid-gap: 6%;
    align-items: center;
    justify-items: center;
    padding: 20px;
    padding-bottom: 120px;
    
}


/* ------- DISPLAY -------*/ 
.display {
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: center;
    width: 94%;
    padding: 1% 1% 1% 1%;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
    font-size: 1.4rem;
    background-color: black;
    color: rgb(28, 173, 137);
    border-style: inset;
    border-color: grey;
    
}

#display {
    font-size: 2rem;
    padding-top: 0.2rem;
    padding-right: 0.2rem;
}

/* ------- BUTTONS -------*/ 
.button {
    cursor: pointer;
    background-color: #f0f8ff;
    color: white;
    text-align: center;
    border-radius: 50%;
    padding:  0.5rem 1rem;
    border: outset;
    border-width: 3px;
    box-shadow: #101010 3px 3px 3px;
    vertical-align: middle;
    display: inline-block;
    font-family: 'Atomic Age', cursive;
    font-size: 2em;
    text-decoration: none;    
}

.button:hover {
    background-color: #ccc;
}

.button:active {
    background-color: grey;
}

.misc_buttons {
    background-color: rgb(185, 185, 185);
    color: white;
    border-color: rgb(124, 124, 124);
    border-bottom-color: rgb(184, 184, 184);
    border-right-color: rgb(184, 184, 184);
}

.misc_buttons:hover {
    background-color: rgb(106, 160, 192);
}

.misc_buttons:active {
    background-color: rgb(96, 147, 177);
}

.numpad {
    background-color: rgb(255, 245, 233);
    color: black;
    border-color: rgb(206, 198, 188);
    border-bottom-color: rgb(255, 245, 233);
    border-right-color: rgb(255, 245, 233);
}

.operation {
    background-color: rgb(185, 185, 185);
    color: white;
    border-color: rgb(124, 124, 124);
    border-bottom-color: rgb(184, 184, 184);
    border-right-color: rgb(184, 184, 184);
}

.operation:hover {
    background-color: rgb(106, 160, 192);
}

.is_pressed {
    background-color: rgb(96, 147, 177);
}

#all-clear {
    background-color: tomato;
    color: white;
    border-color: rgb(253, 63, 30);
}

#all-clear:hover {
    background-color: rgb(240, 75, 46);
}

#all-clear:active {
    background-color: rgb(180, 27, 0);
}

#zero {
    grid-column-start: 1;
    grid-column-end: 3;
    width: 60%;
    border-radius: 40%;
        
}


/* ------- FOOTER -------*/ 

footer {
    width: 100%;
    background-color: indianred;
    text-align: right;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0.1rem;
    
}

footer p {
    padding-right: 1rem;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}






