@import url('https://fonts.googleapis.com/css2?family=Atomic+Age&display=swap');




html {
    font-family: 'Atomic Age', cursive;
    font-size: 1em;
    background-color: teal;
    min-height: 500px;
    
    height: 100%;
    width: 100%;
    /* margin-bottom: 50px; */
    
}



/* ------- WRAPPERS -------*/ 

body {
    height:100%;
    width:100%;
    
}
.container {
    width: 35%;
    min-width: 600px;
    margin: 1% auto;
    height: 90%;
    
}

.calculator {
    display: grid;
    background-color: rgb(39, 116, 139);
    border-radius: 3%;
    border-style: outset;
    border-color: rgb(23, 59, 70);
    border-bottom-color:rgb(23, 59, 70);
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(min-content, auto);
    align-items: center;
    justify-items: center;
    height: 96%;
    
    
}


/* ------- DISPLAY -------*/ 
.display {
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: center;
    width: 90%;
    font-size: 2.2em;
    padding: .5%;
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: black;
    color: rgb(28, 173, 137);
    border-style: inset;
    border-color: grey;
}


/* ------- BUTTONS -------*/ 
.button {
    cursor: pointer;
    background-color: #f0f8ff;
    color: white;
    border-radius: 50%;
    border: outset;
    border-width: 3px;
    box-shadow: #101010 3px 3px 3px; 
    font-family: 'Atomic Age', cursive;
    font-size: 2em;
    height: 2.5em;
    width: 2.5em;
    text-decoration: none;
    padding:0px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;    
}

.button:hover {
    background-color: #ccc;
}

.button:active {
    background-color: grey;
}

.misc_buttons {
    background-color: rgb(168, 168, 168);
    color: white;
    border-color: rgb(124, 124, 124);
    border-bottom-color: rgb(184, 184, 184);
    border-right-color: rgb(184, 184, 184);
}

.misc_buttons:hover {
    background-color: rgb(106, 160, 192);
}

.misc_buttons:active {
    background-color: rgb(96, 147, 177);
}

.numpad {
    background-color: rgb(255, 245, 233);
    color: black;
    border-color: rgb(206, 198, 188);
    border-bottom-color: rgb(255, 245, 233);
    border-right-color: rgb(255, 245, 233);
}

.operation {
    background-color:  rgb(168, 168, 168);
    color: white;
    border-color: rgb(124, 124, 124);
    border-bottom-color: rgb(184, 184, 184);
    border-right-color: rgb(184, 184, 184);
}

.operation:hover {
    background-color: rgb(106, 160, 192);
}

.is_pressed {
    background-color: rgb(96, 147, 177);
}

#all-clear {
    background-color: tomato;
    color: white;
    border-color: rgb(253, 63, 30);
}

#all-clear:hover {
    background-color: rgb(240, 75, 46);
}

#all-clear:active {
    background-color: rgb(180, 27, 0);
}




/* ------- FOOTER -------*/ 

footer {
    width: 100%;
    background-color: indianred;
    text-align: right;
    position: fixed;
    bottom: 0;
    left: 0;    
}

footer p {
    padding-right: 1em;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}


/*------- MEDIA QUERIES--------*/

/*------- Galaxy S5--------*/
/*@media only screen
and (min-device-width : 360px) 
and (max-device-width : 640px) {}   
*/


/*------- iPhone 5/5S---------*/
@media screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {

    .container {
        width: 98%;
        height: 91%;      
    }
    .calculator {   
        font-size: 2em;
           
    }

    .display {
        padding: 1%;
        font-size: 3em;
    }


    footer {
        font-size: 2.2em;
    }
}

/*----- iPhone 5S Landscape--*/
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : landscape) { 

    .container {
        width: 98%;
        height: 98%;      
    }
    .calculator {
        font-size: 1em;
        
        padding: .5%;
    }


    footer {
        visibility: hidden;
        display: none;
    }
}


/*------- iPhone 6/7/8--------*/
/*@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) { 
    body {
        width: 100vw;
        font-size: 1em;
        height: 97vh;
        
    }
    .container {
        width: 98%;
        height: 85vh;
        
        
    }
    .calculator {
        grid-auto-rows: 12%;
        height: 100%;
        padding: 40px;
        font-size: 1.8em;
    }

    .display {
        font-size: 1em;
        grid-row-start: 1;
        grid-row-end: 2;
        padding: 2%;
    }

    #display {
        font-size: 2.9em;
    }

    button {
        height:10rem;
        width:10rem;    
    }
    footer {
        font-size: 1.9em;
    }
}

/*----iPhone 6/7/8 Landscape --*/
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : landscape) { 

    .container {
        width: 98%;
        height: 100%;      
    }

    footer {
        visibility: hidden;
        display: none;
    }
}
/*------- iPhone 6/7/8 Plus Landscape--------*/
@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) 
and (orientation : landscape) { 

    .container {
        width: 98%;
        height: 100%;      
    }
    .display {
        font-size: 2em;
    }
    footer {
        visibility: hidden;
        display: none;
    }
}

/*------- iPhone 6/7/8 Plus--------*/
/*--@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) {}
 
*/

/*----iPhone X Landscape---*/
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px) 
and (-webkit-device-pixel-ratio : 3)
and (orientation : landscape) { 

    .container {
        width: 98%;
        height: 90%;     
    }
    .calculator {
        font-size: .8em;
    }
    .display {
        font-size: 2.7em;
    }
    footer {
        visibility: hidden;
        display: none;
    }
}

/*---iPhone X ----*/
/*@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px) 
and (-webkit-device-pixel-ratio : 3) {
    body {
        width: 100vw;
        font-size: 1em;
        height: 97vh;
        
    }
    .container {
        margin-top: 10%;
        width: 98%;
        height: 80vh;
        
        
    }
    .calculator {
        grid-auto-rows: 12%;
        gap: 4.5%;
        height: 100%;
        padding: 40px;
        font-size: 1.8em;
    }

    .display {
        font-size: 1em;
        grid-row-start: 1;
        grid-row-end: 2;
        padding: 2%;
    }

    #display {
        font-size: 2.9em;
    }

    button {
        height:10rem;
        width:10rem;    
    }
    footer {
        font-size: 2em;
    }
}

/*------- iPad -----------*/
@media screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 



    footer {
        font-size: 1.8em;
    }
   
}



